openapi: 3.1.0
info:
  contact:
    email: development@wallet.inc
    name: Development Team
  description: |-
    Wallet Inc. API reference.

    **Spec version 2.1.604**, built 2026-07-05T22:55:08.000Z
  license:
    name: https://wallet.law
  title: wallet-api
  version: 2.1.604
servers:
- description: Production API
  url: https://api.wall.et
paths:
  /v2/apple/wallet/pass/subscribers/all:
    get:
      operationId: fetchAppleWalletSubscribers
      parameters:
      - explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items: {}
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get all subscribers
      tags:
      - Apple Wallet Subscribers
  /v2/apple/wallet/pass/subscriber/activity/{subscriptionID}:
    get:
      operationId: fetchAppleWalletSubscriberActivity
      parameters:
      - explode: false
        in: path
        name: subscriptionID
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items: {}
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get subscriber activity
      tags:
      - Apple Wallet Subscribers
  /v2/a2p/application:
    get:
      operationId: fetchA2PApplication
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get A2P Application
      tags:
      - App-to-Person (A2P) Registration
    post:
      operationId: beginA2PApplication
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/A2PApplicationSubmission"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Create A2P Application
      tags:
      - App-to-Person (A2P) Registration
  /v2/a2p/registration:
    get:
      operationId: fetchA2PRegistration
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get A2P Registration
      tags:
      - App-to-Person (A2P) Registration
  /v2/a2p/application/{applicationID}:
    put:
      operationId: updateA2PApplication
      parameters:
      - explode: false
        in: path
        name: applicationID
        required: true
        schema:
          $ref: "#/components/schemas/NanoID"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTA2PApplicationUpdateParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Update A2P Application
      tags:
      - App-to-Person (A2P) Registration
  /v2/amenities/all:
    get:
      operationId: fetchAllAmenities
      parameters:
      - explode: true
        in: query
        name: isArchiveIncluded
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Amenity 1
                    description: Amenity Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/amenity.gif
                    additionalInfoURL: https://hotels.com/your-property/pool
                    merchantID: MPvlw729Db
                    isActive: true
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get all Amenities
      tags:
      - Amenities
  /v2/amenities:
    post:
      operationId: createAmenity
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTAmenityCreateParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Amenity 1
                    description: Amenity Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/amenity.gif
                    additionalInfoURL: https://hotels.com/your-property/pool
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/Amenity"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Create Amenity
      tags:
      - Amenities
  /v2/amenities/{id}:
    delete:
      operationId: archiveAmenity
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Amenity 1
                    description: Amenity Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/amenity.gif
                    additionalInfoURL: https://hotels.com/your-property/pool
                    merchantID: MPvlw729Db
                    isActive: false
              schema:
                $ref: "#/components/schemas/Amenity"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Archive Amenity
      tags:
      - Amenities
    patch:
      operationId: restoreAmenity
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Amenity 1
                    description: Amenity Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/amenity.gif
                    additionalInfoURL: https://hotels.com/your-property/pool
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/Amenity"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Restore Amenity
      tags:
      - Amenities
    put:
      operationId: updateAmenity
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTAmenityUpdateParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Amenity 1
                    description: Amenity Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/amenity.gif
                    additionalInfoURL: https://hotels.com/your-property/pool
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/Amenity"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Update Amenity
      tags:
      - Amenities
  /v2/billing/summary:
    get:
      operationId: fetchUsageSummary
      parameters:
      - explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get usage summary
      tags:
      - Billing & Payments
  /v2/billing/paymentMethod:
    get:
      operationId: verifyPaymentMethod
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WTBillingVerifyPaymentMethodResponse"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Verify payment method
      tags:
      - Billing & Payments
    put:
      operationId: savePaymentMethod
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTBillingSavePaymentMethod"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Save payment method
      tags:
      - Billing & Payments
  /v2/billing/industry:
    get:
      operationId: fetchIndustry
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fetchIndustry_200_response"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get merchant's industry
      tags:
      - Billing & Payments
  /v2/billing/paymentMethod/default:
    post:
      operationId: setDefaultPaymentMethod
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/setDefaultPaymentMethod_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Merchant"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Set payment method as default
      tags:
      - Billing & Payments
  /v2/billing/paymentMethods/all:
    get:
      operationId: fetchCustomerPaymentMethods
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get payment methods
      tags:
      - Billing & Payments
  /v2/billing/subscription:
    get:
      operationId: fetchSubscription
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get subscription
      tags:
      - Billing & Payments
  /v2/billing/invoices/all:
    get:
      operationId: fetchInvoices
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get invoices
      tags:
      - Billing & Payments
  /v2/billing/portal/session:
    post:
      operationId: createBillingPortalSession
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Create a Stripe Billing Portal session
      tags:
      - Billing & Payments
  /v2/billing/invoices/upcoming:
    get:
      operationId: upcomingInvoices
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get upcoming invoices
      tags:
      - Billing & Payments
  /v2/billing/plan:
    delete:
      operationId: cancelPlan
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Cancel billing plan
      tags:
      - Billing & Payments
    put:
      operationId: changePlan
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTBillingChangePlan"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Change billing plan
      tags:
      - Billing & Payments
  /v2/billing/products/addOns:
    get:
      operationId: fetchAddOns
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items: {}
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get add-on products
      tags:
      - Billing & Payments
  /v2/billing/products/addOns/{productID}:
    post:
      operationId: buyAddOn
      parameters:
      - explode: false
        in: path
        name: productID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Buy add-on product
      tags:
      - Billing & Payments
  /v2/billing/products/specialOffers:
    get:
      operationId: fetchSpecialOffers
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items: {}
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get special offers
      tags:
      - Billing & Payments
  /v2/billing/products/specialOffers/{productID}:
    post:
      operationId: buySpecialOffer
      parameters:
      - explode: false
        in: path
        name: productID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Buy special offer
      tags:
      - Billing & Payments
  /v2/customer/vouchers/all:
    get:
      operationId: fetchAllVouchers
      parameters:
      - explode: true
        in: query
        name: memberID
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cellPhoneNumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/StaticVoucher"
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get all static vouchers
      tags:
      - Customer
  /v2/customer/vouchers/active:
    get:
      operationId: fetchActiveVouchers
      parameters:
      - explode: true
        in: query
        name: memberID
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cellPhoneNumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/StaticVoucher"
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get active static vouchers
      tags:
      - Customer
  /v2/customer/vouchers/upcoming:
    get:
      operationId: fetchUpcomingVouchers
      parameters:
      - explode: true
        in: query
        name: memberID
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cellPhoneNumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/StaticVoucher"
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get upcoming static vouchers
      tags:
      - Customer
  /v2/customer/vouchers/expired:
    get:
      operationId: fetchExpiredVouchers
      parameters:
      - explode: true
        in: query
        name: memberID
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cellPhoneNumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/StaticVoucher"
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get expired static vouchers
      tags:
      - Customer
  /v2/customer/vouchers/redeemed:
    get:
      operationId: fetchRedeemedVouchers
      parameters:
      - explode: true
        in: query
        name: memberID
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cellPhoneNumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/StaticVoucher"
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get redeemed static vouchers
      tags:
      - Customer
  /v2/customer/vouchers/refunded:
    get:
      operationId: fetchRefundedVouchers
      parameters:
      - explode: true
        in: query
        name: memberID
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cellPhoneNumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/StaticVoucher"
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get refunded static vouchers
      tags:
      - Customer
  /v2/customer/search/phoneNumber:
    post:
      operationId: searchByPhoneNumber
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTCustomerSearchByPhoneNumber"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Find members with phone number
      tags:
      - Customer
  /v2/customer/search/memberID:
    post:
      operationId: searchByMemberID
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTCustomerSearchByMemberID"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Find members with memberID
      tags:
      - Customer
  /v2/customer/walletViews/session/{id}:
    get:
      operationId: fetchWalletViewsForSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/WalletPageView"
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get Wallet Views for Session
      tags:
      - Customer
  /v2/dining/all:
    get:
      operationId: fetchAllDining
      parameters:
      - explode: true
        in: query
        name: isArchiveIncluded
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Dining 1
                    description: Dining Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/dining.gif
                    additionalInfoURL: https://your-site.com/restaurants/steak-house
                    merchantID: MPvlw729Db
                    isActive: true
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get all Dining info
      tags:
      - Dining
  /v2/dining:
    post:
      operationId: createDining
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTDiningCreateParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Dining 1
                    description: Dining Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/dining.gif
                    additionalInfoURL: https://your-site.com/restaurants/steak-house
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/Dining"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Create Dining info
      tags:
      - Dining
  /v2/dining/{id}:
    delete:
      operationId: archiveDining
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Dining 1
                    description: Dining Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/dining.gif
                    additionalInfoURL: https://your-site.com/restaurants/steak-house
                    merchantID: MPvlw729Db
                    isActive: false
              schema:
                $ref: "#/components/schemas/Dining"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Archive Dining info
      tags:
      - Dining
    patch:
      operationId: restoreDining
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Dining 1
                    description: Dining Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/dining.gif
                    additionalInfoURL: https://your-site.com/restaurants/steak-house
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/Dining"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Restore Dining info
      tags:
      - Dining
    put:
      operationId: updateDining
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTDiningUpdateParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    title: Dining 1
                    description: Dining Description
                    displayedPrice: $200-$300
                    orderNumber: 1
                    mediaURL: https://media.wall.et/dining.gif
                    additionalInfoURL: https://your-site.com/restaurants/steak-house
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/Dining"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Update Dining info
      tags:
      - Dining
  /v2/emailSubscriber/all:
    get:
      operationId: fetchAllEmailSubscribers
      parameters:
      - explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: isArchiveIncluded
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    firstName: John
                    lastName: Smith
                    emailAddress: subscriber@example.com
                    merchantID: MPvlw729Db
                    isActive: true
              schema: {}
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get all Email Subscribers
      tags:
      - Email Subscribers
  /v2/emailSubscriber:
    post:
      operationId: createEmailSubscriber
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTEmailSubscriberCreateParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    firstName: John
                    lastName: Smith
                    emailAddress: subscriber@example.com
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/EmailSubscriber"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Create Email Subscriber
      tags:
      - Email Subscribers
  /v2/emailSubscriber/{id}:
    delete:
      operationId: archiveEmailSubscriber
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    firstName: John
                    lastName: Smith
                    emailAddress: subscriber@example.com
                    merchantID: MPvlw729Db
                    isActive: false
              schema:
                $ref: "#/components/schemas/EmailSubscriber"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Archive Email Subscriber
      tags:
      - Email Subscribers
    patch:
      operationId: restoreEmailSubscriber
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    firstName: John
                    lastName: Smith
                    emailAddress: subscriber@example.com
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/EmailSubscriber"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Restore Email Subscriber
      tags:
      - Email Subscribers
    put:
      operationId: updateEmailSubscriber
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WTEmailSubscriberUpdateParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 8h16UqloS1
                    createdAt: 2020-06-23T02:10:25.000Z
                    updatedAt: 2020-06-23T02:10:25.000Z
                    firstName: John
                    lastName: Smith
                    emailAddress: subscriber@example.com
                    merchantID: MPvlw729Db
                    isActive: true
              schema:
                $ref: "#/components/schemas/EmailSubscriber"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Update Email Subscriber
      tags:
      - Email Subscribers
  /v2/employee/apiKeys/all:
    get:
      operationId: fetchAllEmployeeAPIKeys
      parameters:
      - explode: true
        in: query
        name: isArchiveIncluded
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/EmployeeAPIKey"
                type: array
                default: null
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    fields:
                    - name: field name
                      message: reason why validation failed
                      value: validated value
                    message: Validation Failed
              schema:
                $ref: "#/components/schemas/FalsumError"
          description: Validation Failed
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: InternalServerError_500
                    message: Internal Server Error
                    httpErrorCode: 500
                    trackingCode: ISE-1
              schema:
                $ref: "#/components/schemas/InternalServerError_500"
          description: Internal Server Error
      security:
      - api_token: []
      summary: Get API Keys
      tags:
      - API Keys
  /v2/employee/apiKeys/{id}:
    delete:
      operationId: archiveEmployeeAPIKeys
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/ObjectNanoID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeAPIKey"
          description: Ok
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    name: AuthError
                    message: Authentication Failed
                    httpErrorCode: 401
                    trackingCode: AUTH-1
              schema:
                $ref: "#/components/schemas/AuthError"
          description: Authentication Failed
        "422":
          content:
            application/json:
              examples:
                Example 1:
[...]
